.header {
  margin-bottom: 1.5rem;
  .header__title {
    text-align: center;
    margin: 0.5rem 0;
    padding: 0;
    color: #131b28;
    font-size: 2rem;
  }
  .header__sub {
    text-align: center;
    margin: 0.5rem 0;
    color: #7a869c;
  }
}
